.about .ThingsWeValue .container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  /* height: calc(100vh - 70px); */
}

.about .ThingsWeValue .title {
  color: black;
  font-size: 100px;
  font-weight: bold;
}

.about .ThingsWeValue .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 63px;
  height: 100%;
}

.about .ThingsWeValue .boxs .box {
  position: relative;
  max-width: 363px;
  height: 588px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .ThingsWeValue .boxs .box h3 {
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.about .ThingsWeValue .boxs .box img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.about .MakeDifferent {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f4f4f4;
}

.about .MakeDifferent .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about .MakeDifferent .container .search {
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 12px;
}

.about .MakeDifferent .container .search input {
  background-color: transparent;
  border: 0;
  outline: none !important;
  font-size: 20px;
  width: 500px;
}

.about .MakeDifferent .title {
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.about .MakeDifferent .boxs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about .MakeDifferent .boxs .box {
  padding: 20px 25px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .MakeDifferent .boxs .last-box {
  margin-bottom: 50px;
}

.about .MakeDifferent .boxs .box .text {
  font-size: 20px;
  font-weight: 400;
}

.about .MakeDifferent .boxs .box .boxTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.about .MakeDifferent .boxs .box .boxTitle div {
  width: 35px;
  height: 35px;
}

.about .MakeDifferent .boxs .box .boxTitle h3 {
  font-size: 30px;
}

.about .MakeDifferent .boxs .box .boxTitle .icon {
  cursor: pointer;
}

.about .MakeDifferent .boxs .box .boxTitle .close {
  display: none;
}

.about .MakeDifferent .boxs .box .text {
  display: none;
}

.about .MakeDifferent .boxs .box .text.show {
  display: block;
}
.art {
  position: relative;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px 100px;
  font-size: 50px;
}

.top .first {
  font-size: 100px;
}

.top .st-word,
.top .nd-word,
.top .rd-word {
  position: relative;
}

.top .st-word::before,
.top .nd-word::before,
.top .rd-word::before {
  content: "";
  background: linear-gradient(90deg, #8f7363 25%, #70584b);
  background-color: #8f7363;
  width: 91%;
  height: 20px;
  position: absolute;
  top: 30px;
  z-index: -1000;
}

.top .nd-word::before {
  width: 105%;
  left: -5px;
}

.top .rd-word::before {
  width: 155%;
  left: -46px;
}

.top img {
  width: 350px;
  height: 520px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 20px;
}

.cards img {
  border-radius: 15px;
}

.cards .cardOne,
.cards .cardThree {
  margin-bottom: 250px;
}

.last {
  padding: 50px;
  text-align: start;
  margin-bottom: 50px;
  overflow: hidden;
}

.last h1 {
  font-size: 100px;
  margin: 0 0 20px 50px;
}

.last p {
  width: 90%;
  font-size: 25px;
}

.last img {
  position: absolute;
  top: 165px;
  right: -124px;
  width: 380px;
}
/* responsive */
@media (max-width: 641px) {
  .about .MakeDifferent .title {
    font-size: 30px;
  }

  .about .MakeDifferent .container .search {
    width: 100%;
  }

  .about .MakeDifferent .container .search input {
    width: 100%;
  }

  .about .MakeDifferent .boxs .box .boxTitle h3 {
    font-size: 20px;
  }
}
/* start responsive */


@media (min-width: 2160px) {
  .cards {
  grid-template-columns: repeat(auto-fill, minmax(505px, 1fr));
  }
}


@media (min-width: 1409px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(317px, 1fr));
  }
  .cards img {
    width: 300px;
  }
}
@media (min-width: 1744px) {
.cards {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.cards img {
  width: 350px;
}
}
@media (max-width: 1145px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
  .cards img {
    width: 350px;
  }
  .cards .cardOne,
.cards .cardThree {
    margin-bottom: 0;
}
}
@media (max-width: 950px) {
  .top {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media(max-width: 777px) {
  .top img {
    width: 250px;
    height: 400px;
  }
  .top p {
  font-size: 30px;
}
.top .first {
font-size: 50px;
}
 .top .st-word::before,
 .top .nd-word::before,
 .top .rd-word::before {
  display: none
 } 
 .top {
 padding: 20px;
}
.cards {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
 .cards img{
   width: 250px;
  }
 .last h1 {
  margin-top: 30px;
  margin-left: 0;
  font-size: 60px;
 }
 .last img {
  top: 230px;
  right: -82px;
  width: 250px;
 }
}
@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .cards img{
    width: 200px;
  }
}
@media (max-width: 500px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .cards img {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .top img {
  width: 180px;
  height: 320px;
  }
  .last img {
    display: none;
  }
  .cards img {
    max-width: 230px;
  }
  .last h1 {
    font-size: 50px;
  }
}
@media (max-width: 260px) {
  .top img {
    width: 150px !important;
    height: 250px !important;
  }
  .cards img {
    max-width: 150px;
  }
  .last {
    padding: 20px;
  }
  .last h1 {
    font-size: 35px !important;
  }
}
