.home .hero {
  width: 100%;
  position: relative;

  .container {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}

.home .hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: -1;
}

.home .hero .black {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: black;
}

.home .hero h1 {
  color: white;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: -0.8px;

}

.home .hero p {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 160%;
  opacity: 0.8;
  width: 606px;
}

.home .hero .search {
  display: flex;
  width: 344px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.60);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
}

.home .hero .search input {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  outline: none !important;
}

.home .hero .search input::placeholder {
  color: white;
  opacity: 0.8;
  font-size: 18px;
}

.home .hero .search svg {
  display: flex;
  padding: 11px;
  width: fit-content;
  height: fit-content;
  align-items: flex-start;
  gap: 10px;
  border-radius: 50%;
  background: #8F7363;
  cursor: pointer;
}

.home .hero .search button {
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
}

/* Start About */
.about {
  width: 100%;
  position: relative;

  .container {
    height: calc(100vh);
    padding: 120px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 50%;
  }
}

.about .container .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about .container .info h1 {
  color: #1A1A1A;
  font-size: 64px;
  font-weight: bold;
}

.about .container .info p {
  color: #818281;
  font-size: 20px;
  line-height: 32px;
  width: 470px;
}

.about .container .info .boxs {
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  gap: 30px;
}

.about .container .info .boxs .box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.about .container .info .boxs .box h2 {
  font-family: "Source Sans Pro";
  color: #8F7363;
  font-size: 64px;
  font-weight: bold;
  line-height: 64px;
}

.about .container .info .boxs .box h3 {
  font-family: "Source Sans Pro";
  color: #2E302E;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.about .container .info .boxs .box p {
  font-family: "Source Sans Pro";
  max-width: 100%;
  white-space: wrap;
  color: #6C6C6C;
  font-size: 20px;
}

.about .container .info .readMore {
  width: 225px;
  padding: 10px;
  border-radius: 6px;
  background: #2E302E;
  color: white;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
}

.about .container .imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about .container .imgs .imgsBox {
  display: flex;
  flex-direction: column;
  gap: 30px;

  img {
    max-width: 100%;
  }
}

.about .container .imgs .imgsBox:first-of-type {
  margin-top: 76px;
}

/* End About */
/* Start Contact  */
input:focus,
textarea:focus {
    outline: none;
}

.contact {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 230px;
    margin-bottom: 200px;
    padding-top: 300px;
    background-color: #FFFFFF;

    h1 {
      font-size: 50px;
      color: #1A1A1A;
    }
}
.contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: #2E302E;
}
.contact .container .heading {
    margin-top: 20px;
    margin-bottom: 30px;
}
.contact .container .heading h1 {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(90deg, #ebebeb 35%, #8F7363);
    -webkit-background-clip: text;
    color: transparent;
}
.contact .container .heading p {
    color: #b1b2b1;
    }

    .contact .container .form-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: #3e3f3c;
    }

    .Form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        padding: 20px;
        border-radius: 10px;
        background-color: #3d3f3c;
    }
    .Form h1 {
        color: white;
    }
    .Form p {
        color: #d4d5d4;
        max-width: 425px;
    }
    .Form form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }
    .Form form .name-input {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 440px;
        gap: 10px;
        input {
            width: 50%;
        }
    }

    .Form form input,
    .Form form textarea { 
        resize: none;
        width: 440px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: #6f6f6d 1px solid;
        background-color: #424341;
        color: #d4d5d4;
        font-size: 16px;
    }
    .Form form .message {
        width: 440px;
        height: 110px;
        line-height: -1;
    }

    .Form form button {
        width: 100%;
        max-width: 440px;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        background: linear-gradient(90deg, #303230 5%, #a69990);
        color: #d4d5d4;
        transition: all 0.2s ease-in-out;
    }

    .rocket-icon {
        transition: transform 0.7s ease-in-out, opacity 0.8s ease-in-out;
        position: relative;
        left: 0;
        opacity: 1;
      }
      
      .rocket-icon.fly {
        transform: translateX(145px);
        opacity: 0;
      }

    .Form form button:hover {
        filter: brightness(1.2);
    }

    .contact .container .form-container .image {
        width: 95%;
        height: 400px;
    }
    .contact .container .form-container .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }


    @media (max-width: 1240px) {
        .contact .container .form-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .contact .container .form-container .image {
        width: 440px;
        height: 360px;
        margin-bottom: 20px;
        }

    }
    /* End Contact  */