* {
    outline: none;
}
button {
    border: none;
}

.dash-header .header {
    background-color: #FFFFFF !important;
    height: 90px;
}

.dash-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
}

.dash-header .container .side-bar-toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #9A7462;
    border-radius: 14px;
    cursor: pointer;
}

.dash-header .container .side-bar-toggle-btn i {
    color: white;
}

.dash-header .container .search {
    position: relative;
    width: 30%;
    height: 40px;
    border: 1px solid #00000014;
    border-radius: 12px;
    padding: 0 10px;
}

.dash-header .container .search input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    color: black;
}

.dash-header .container .search i {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.dash-header .container .profile .notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #F3F3F3;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.dash-header .container .profile .notifications::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #FF5151E0;
    border-radius: 50%;
    border: black 0.5px solid;
    position: absolute;
    top: 0;
    right: 0;
}

.dash-header .container .profile .notifications i {
    font-size: 22px;
}

.dash-header .container .profile .switch-lang {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    width: 95px;
    height: 40px;
    border-radius: 20px;
    background-color: #F3F3F3;
    font-weight: 500;
    cursor: pointer;
}

.dash-header .container .profile .switch-lang .active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #9A7462;
    border-radius: 50%;
}

.dash-header .container .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.dash-header .container .profile-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}