.standardJoin {
  padding: 60px 0;
}
.standardJoin .container span {
  font-size: 22px;
  font-weight: 400;
}
.join-heading-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.join-heading-container h1 {
  margin-top: 32px;
  font-size: 50px;
}
.join-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin: 0 0 20px;
  cursor: pointer;
  transition: 0.9s;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
}
.join-links li:hover {
  background-color: #1e2532;
}

.join-links li:hover i {
  color: white;
}
.join-links li i {
  color: #1e2532;
}
.join-us-form {
  background: linear-gradient(223.63deg, #1a1a1a 39.06%, #8f7363 118.89%);
}
.join-us-container {
  display: flex;
  justify-content: center;
  padding: 117px 0;
  gap: 123px;
  margin-top: 130px;
}
.join-background {
  width: 513px;
  max-width: 100%;
  height: 709px;
}
.join-form h1 {
  font-size: 36px;
  color: white;
}
.join-form p {
  width: 404px;
  max-width: 100%;
  margin: 17px 0;
  color: #94a3b8;
}
.join-form form .form-group,
.join-form form .form-group label,
.join-form form .form-group input,
.join-form form .form-group textarea {
  width: 100%;
}
.join-form form .form-group label {
  display: block;
  color: #e4e4e7;
  margin-bottom: 10px;
}
.join-form form .form-group input,
.join-form form .form-group textarea {
  background: transparent;
  padding: 15px 19px;
  border: 1px solid #334155;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-bottom: 15px;
}
.join-form form .form-group input::placeholder,
.join-form form .form-group textarea {
  color: #94a3b8;
}
.join-form form .form-group textarea {
  height: 208px;
  resize: none;
}
.join-background img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-bottom: 24px;
}

.upload-btn-wrapper .btn {
  display: block;
  width: 100%;
  border: none;
  color: white;
  background-color: #8f7363;
  padding: 14px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  font-weight: 600;
}

.upload-btn-wrapper input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Hide the file input */
  cursor: pointer; /* Ensure the cursor is a pointer */
}

.join-form form button {
  border: none;
  color: white;
  background: #1a1a1a;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 14px;
  width: 181px;
  font-size: 19px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-weight: 600;
}
@media (max-width: 781px) {
  .join-links {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .join-us-container{
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

  }
  .join-background{
    width: 100%;
    height: fit-content;
  }
}
@media (max-width: 500px) {

  .join-heading-container h1 {
    font-size: 30px;

  }

}
