@import '~@fortawesome/fontawesome-free/css/all.min.css';


:root {
  --test-width: 402px;
}

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  min-width: 90vw;
  max-width: 90vw;
  margin: auto;
}